header{
    background-color: aliceblue;
    padding: 30px;
    text-align: center;

    border-radius: 10px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    background-color: rgb(200, 218, 227);
    padding: 7px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

section{
    background-color: aliceblue;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

p{
    font-size: 15px;
}

footer{
    background-color: aliceblue;
    padding: 20px;
    
}