.textviews{
    background-color: rgb(216, 227, 244);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

